/.vscode
/APOD_scrape.py
/Mypic.bmp
/PinnaclesGalaxy_Goh_2400.jpg
/apod_example.py
/apod_example2.py
/bin
/download_directoryapod.gif
/image.jpg
/include
/lib
/new_1.jpg
/pic_2.jpg
/pyvenv.cfg
/web_scraper.py
/lib64